<table class="table table-dark table-striped">
    <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
         </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td>{{product.name}}</td>
          <td>{{product.category}}</td>
          <td>{{product.description}}</td>
          <td>{{product.cost}}</td>
        </tr>
      </tbody>
  </table>